nav {
  max-width: 1280px;
  height: 150px;
  background-color: #010101;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .logo-section {
    width: 338px;
    height: 92px;
    margin-left: 25px;
    margin-top: 30px;

    .logo {
      width: 297px;
      height: 58px;
      background-image: url(../assets/logo/audindy.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      padding-top: 10px;
      color: white;
      margin-left: 25px;
    }
  }

  .links {
    width: 870px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
}

.about-content {
  max-width: 1280px;
  min-height: 200px;
  margin: 0 auto;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .profile {
    max-width: 1000px;
    min-height: 184px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    .headshot {
      width: 277px;
      height: 184px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .one {
      background-image: url(../assets/about/profileone.jpg);
    }

    .two {
      background-image: url(../assets/about/profiletwo.jpg);
    }

    .three {
      background-image: url(../assets/about/profilethree.jpg);
    }

    .profile-text {
      width: 650px;
      min-height: 184px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      background-color: rgba(112, 112, 112, 0.1);
      padding-top: 15px;

      h3 {
        padding-left: 15px;
      }

      p {
        width: 514px;
        padding-left: 15px;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .about-content {
    .profile {
      display: block;
      width: 300px;
      margin: 0 auto;

      .headshot {
        margin: 0 auto;
        margin-top: 50px;
      }
      .profile-text {
        width: 400px;
        margin: 0 auto;
        margin-top: 20px;

        p {
          width: 350px;
        }
      }
    }
  }
}
