.hero {
  max-width: 1280px;
  height: 818px;
  background-image: url(../assets/home/masks.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0 auto;

  nav {
    max-width: 1280px;
    height: 150px;
    background-color: #010101;
    display: flex;
    justify-content: space-between;

    .logo-section {
      width: 338px;
      height: 92px;
      margin-left: 25px;
      margin-top: 30px;

      .logo {
        width: 297px;
        height: 58px;
        background-image: url(../assets/logo/audindy.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-top: 10px;
        color: white;
        margin-left: 25px;
      }
    }

    .links {
      width: 870px;
      height: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
    }
  }
}

.home-content {
  max-width: 1280px;
  min-height: 200px;
  margin: 0 auto;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
  }

  .thumbnails {
    max-width: 1052px;
    min-height: 728px;
    margin: 0 auto;
    margin-top: 50px;

    .thumb-container {
      min-height: 327px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;

      .thumbnail {
        width: 490px;
        height: 327px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .theatre {
        background-image: url(../assets/home/theatre.jpg);
      }

      .dance {
        background-image: url(../assets/home/dance.jpg);
      }

      .sing {
        background-image: url(../assets/home/singing.jpg);
      }

      .band {
        background-image: url(../assets/home/band.jpg);
      }
    }
  }
}

footer {
  max-width: 1280px;
  height: 206px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .info {
    width: 276px;
    height: 160px;

    .logo {
      width: 205px;
      height: 40px;
      margin-left: 25px;
      margin-top: 25px;
      background-image: url(../assets/logo/audindy.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .address {
      width: 240px;
      height: 100px;
      margin-left: 25px;
      margin-top: 25px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 10px;
    }
  }

  .socials {
    width: 348px;
    height: 47px;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;

    .facebook {
      width: 86px;
      height: 86px;
      background-image: url(../assets/icon/fbookicon.png);
    }

    .twitter {
      width: 86px;
      height: 86px;
      background-image: url(../assets/icon/twittericon.png);
    }

    .insta {
      width: 86px;
      height: 86px;
      background-image: url(../assets/icon/instagramicon.png);
    }
  }
}

@media only screen and (max-width: 920px) {
  .home-content {
    .thumbnails {
      margin-bottom: 20px;
      .thumb-container {
        display: block;
        margin-bottom: 20px;
      }

      .thumbnail {
        padding-bottom: 20px;
        margin: 0 auto;
      }
    }
  }
}
